*{box-sizing: border-box;
    margin:0em;
    padding: 0em;
}

.nav-bar{
    background-color: rgb(4, 3, 82);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    justify-content: right;
    align-items:normal;
      
}

.nav-list{
    list-style: none;
    color: white;
    display: flex;
    padding: 1em;
    font-size: 1.5em;
}

.nav-bar ul li{
    margin: 0.5em;
    font-family: monospace;
}

.nav-bar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
}
.nav-bar ul li a:hover{
    background-color: white;
    color:black;
}

body{
    text-align:center; 
    background-image: url(https://videohive.img.customer.envatousercontent.com/files/227714272/Binary%20Code%20Background%20%2001_preview1.JPG?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=4ac645f9f3c974f81fa45c4e85ebcaf1);
}

#Home{
    background-color:rgba(70, 131, 180, 0.26); 
    color: white;
    padding: 5em;
    padding-bottom: 18em;
}

.wrapper {
    height: 85vh;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: left;
}

.typing{
    width: 6.5em;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 5em;
}

@keyframes typing {
from {
    width: 0
}
}
    
@keyframes blink {
50% {
    border-color: transparent
}
}

h1{
    color:white;
    font-family: monospace;
    margin:0.1em;
    font-size: xxx-large;
}

#about{
    color: white;
    font-size: 1em;
    padding-top: 1em;
    text-align: left;
}

.header{
    font-size: xx-large;
    margin: 1em;

}

/* .Home{
    background-color:navy; 
    color:white; 
    font-family: monospace;
    margin:1em;
    margin-top: 1em;
} */

#Experience{
    list-style: none;
    background-color: rgba(25, 25, 112, 0.815); 
    color:white;
    font-family: monospace;
    /* margin:1em; */
    padding: 4em;
    padding-bottom: 18em;
}

#Qualifications{
    background-color: rgba(65, 105, 225, 0.438);
    color:white;
    font-family: monospace;
    padding:4em;
    padding-bottom: 18em;

}

#Skills{
    background-color: rgba(118, 105, 194, 0.603); 
    color:white; 
    font-family: monospace;
    padding:4em;
    padding-bottom: 18em;
}

#Projects{
    background-color: rgba(28, 1, 53, 0.616); 
    color:rgb(246, 244, 248);
    font-family: monospace;
    padding:4em;
    padding-bottom: 18em;
} 

#project-header{
    color:white;
    font-size: xx-large;
}

#project-tiles{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.projects-grid{
    display:flex;
    flex-wrap: wrap; 
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width:40%;
    min-height:100px;
    background-color:rgb(3, 32, 78);
    margin:1%;
    padding:1%;
    border: 2px solid blue;
    box-shadow: darkslategrey;
}

.project-name{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    justify-content: center;

}
.project-image {
    padding-top: 1em;
    height: 20em;
    width: 20em;
}

footer{
    background-color: gray;
    color:white;
    font-family: monospace;
    width: 100;
}